body {
  font-family: 'Arial', sans-serif;
  background: #8c97a371;
  margin: 0;
  padding: 10px;
  min-width: 140px;
}

.container {
  background-color: #eeeeee87;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(207, 132, 132, 0.1);
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #555;
}

label {
  display: flex;
  align-items: center; 
  gap: 6px; /* ボタンとテキストの間隔 */
  margin-bottom: 8px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.outside {
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #888;
  border-radius: 50%;
  background: #fff;
  transition: border-color 0.3s;
}

.inside {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #555;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked + .outside {
  border-color: #555;
}

input[type="radio"]:checked + .outside .inside {
  animation: radio-select 0.2s linear;
  transform: scale(1);
}

label:hover .outside {
  border-color: #555;
}

@keyframes radio-select {
  0% {
    transform: scale(0);
  }
  65% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
